@media screen and (max-width:835px){
  /* footer */
#footer{position: relative;left: 0;top: 0;width: 100%;margin: 0 auto;background: #333;}
.foot_inner{width: 100%;margin: 0 auto;background: #333;}
.foot_inner>ul{display: flex;}
.foot_inner>ul>li{margin-left: 10px;}
.foot_inner>ul>li>a{color: #909090;font-size: 13px;line-height: 50px;}


.foot_inner2{position: relative;left: 0;top: 0;width: 100%;background: #272727;}
.foot_inner2>div{width: 100%;margin: 0 auto;display: grid;padding-top: 20px;}
.foot_inner2>div>img{position: relative;}
.foot_inner2>div>address{color: #909090;font-size: 11px;}
.foot_inner2>div>address>ul>li>ul{display: inline-block;line-height: 20px;}
.foot_inner2>div>address>ul>li>ul>li{display: inline-block;}
.foot_inner2>div>address>p{padding: 20px 0 40px 0;}
  
}

@media screen and (min-width: 836px) and (max-width: 1023px){
  /* footer */
#footer{position: relative;left: 0;top: 0;width: 100%;margin: 0 auto;background: #333;}
.foot_inner{width: 100%;margin: 0 auto;background: #333;}
.foot_inner>ul>li{display: inline-block;margin-left: 20px;}
.foot_inner>ul>li>a{color: #909090;font-size: 13px;line-height: 50px;}


.foot_inner2{position: relative;left: 0;top: 0;width: 100%;background: #272727;}
.foot_inner2>div{width: 100%;margin: 0 auto;display: grid;padding-top: 20px;margin-left: 20px;}
.foot_inner2>div>img{position: relative;grid-column: 1/2;}
.foot_inner2>div>address{grid-column: 2/-1;color: #909090;font-size: 13px;}
.foot_inner2>div>address>ul>li>ul{display: inline-block;line-height: 20px;}
.foot_inner2>div>address>ul>li>ul>li{display: inline-block;}
.foot_inner2>div>address>p{padding: 20px 0 40px 0;}

}

@media screen and (min-width: 1023px) and (max-width: 1199px){
  /* footer */
#footer{position: relative;left: 0;top: 0;width: 100%;margin: 0 auto;background: #333;}
.foot_inner{width: 100%;margin: 0 auto;background: #333;}
.foot_inner>ul>li{display: inline-block;}
.foot_inner>ul>li>a{color: #909090;font-size: 13px;line-height: 50px;}


.foot_inner2{position: relative;left: 0;top: 0;width: 100%;background: #272727;}
.foot_inner2>div{width: 100%;margin: 0 auto;display: grid;padding-top: 20px;}
.foot_inner2>div>img{position: relative;grid-column: 1/2;}
.foot_inner2>div>address{grid-column: 2/-1;color: #909090;font-size: 13px;}
.foot_inner2>div>address>ul>li>ul{display: inline-block;line-height: 20px;}
.foot_inner2>div>address>ul>li>ul>li{display: inline-block;}
.foot_inner2>div>address>p{padding: 20px 0 40px 0;}

  
}

@media screen and (min-width: 1200px) and (max-width: 1278px){
/* footer */
#footer{position: relative;left: 0;top: 0;width: 100%;margin: 0 auto;background: #333;}
.foot_inner{width: 100%;margin: 0 auto;background: #333;}
.foot_inner>ul>li{display: inline-block;}
.foot_inner>ul>li>a{color: #909090;font-size: 13px;line-height: 50px;}


.foot_inner2{position: relative;left: 0;top: 0;width: 100%;background: #272727;}
.foot_inner2>div{width: 1400px;margin: 0 auto;display: grid;grid-template-columns: 218px 1182px;padding-top: 20px;}
.foot_inner2>div>img{position: relative;grid-column: 1/2;}
.foot_inner2>div>address{grid-column: 2/-1;color: #909090;font-size: 13px;}
.foot_inner2>div>address>ul>li>ul{display: inline-block;line-height: 20px;}
.foot_inner2>div>address>ul>li>ul>li{display: inline-block;}
.foot_inner2>div>address>p{padding: 20px 0 40px 0;}


}

@media screen and (min-width: 1279px) and (max-width: 1437px){
/* footer */
#footer{position: relative;left: 0;top: 0;width: 100%;margin: 0 auto;background: #333;}
.foot_inner{width: 1400px;margin: 0 auto;background: #333;}
.foot_inner>ul>li{display: inline-block;}
.foot_inner>ul>li>a{color: #909090;font-size: 13px;line-height: 50px;}


.foot_inner2{position: relative;left: 0;top: 0;width: 100%;background: #272727;}
.foot_inner2>div{width: 1400px;margin: 0 auto;display: grid;grid-template-columns: 218px 1182px;padding-top: 20px;}
.foot_inner2>div>img{position: relative;grid-column: 1/2;}
.foot_inner2>div>address{grid-column: 2/-1;color: #909090;font-size: 13px;}
.foot_inner2>div>address>ul>li>ul{display: inline-block;line-height: 20px;}
.foot_inner2>div>address>ul>li>ul>li{display: inline-block;}
.foot_inner2>div>address>p{padding: 20px 0 40px 0;}


}

@media screen and (min-width: 1438px){

  /* footer */
#footer{position: relative;left: 0;top: 0;width: 100%;margin: 0 auto;background: #333;}
.foot_inner{width: 1400px;margin: 0 auto;background: #333;}
.foot_inner>ul>li{display: inline-block;}
.foot_inner>ul>li>a{color: #fff;font-size: 13px;line-height: 50px;}


.foot_inner2{position: relative;left: 0;top: 0;width: 100%;background: #272727;}
.foot_inner2>div{width: 1400px;margin: 0 auto;display: grid;grid-template-columns: 218px 1182px;padding-top: 20px;}
.foot_inner2>div>img{position: relative;grid-column: 1/2;}
.foot_inner2>div>address{grid-column: 2/-1;color: #909090;font-size: 13px;}
.foot_inner2>div>address>ul>li>ul{display: inline-block;line-height: 20px;}
.foot_inner2>div>address>ul>li>ul>li{display: inline-block;}
.foot_inner2>div>address>p{padding: 20px 0 40px 0;}

}