@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@700&display=swap');

/* main.css */

/* common */
body{font-size: 14px;font-family: 'Noto Sans Korean', 'Noto Sans KR', 'nanum gothic', 'Dotum', '돋움', 'Arial', sans-serif;}
a{text-decoration: none;color: #666;}
a:hover{text-decoration: none;color: #666;}

@media screen and (max-width:835px){
  

  #header{z-index:40;position: fixed;width: 100%;height: 40px;} 

  .header_wrap{z-index: 50; position: absolute;left: 0;top: 0;width: 100%;height: 50px;background: #fff;}
  .header_inner{position: relative;width: 100%;}
  h1.logo{z-index: 5;position: absolute;top: -5px;left: -28px;}
  h1.logo>a{display: block;width:160px;height: 56px;background: url(../img/logo.png)no-repeat 0 0;text-indent: -9999px;overflow: hidden;background-position: 0px -23px;transform: scale(0.5);}

  /* gnb */
  /* forEach 또는 글자만 선택된것들 */
  .gnb{display: none;}
 
  
  /* 햄버거버튼 */
  .menu-btn {
   z-index: 50;
   position: fixed;
   float: right;
   top: 20px;
   right: 10px;
   width: 19px;
   height: 10px;
   display: flex;
   align-items: center;
   cursor: pointer;
   /* border: 5px solid #fff; */
   transition: all 0.2s ease-in-out;
  }
  
  .menu-btn__burger,
  .menu-btn__burger::before,
  .menu-btn__burger::after {
   width: 19px;
   height: 3px;
   border-radius: 5px;
   background-color: #333;
  
  
   transition: all 0.2s ease-in-out;
  }
  .menu-btn__burger::before,
  .menu-btn__burger::after {
   content: "";
   position: absolute;
  }
  .menu-btn__burger::before {
   transform: translateY(-7px);
  }
  .menu-btn__burger::after {
   transform: translateY(7px);
  }
  
  /* ANIMATION */
  .menu-btn.open .menu-btn__burger {
   transform: translateX(-50px);
   background-color: transparent;
   box-shadow: none;
   position: fixed;
  }
  .menu-btn.open .menu-btn__burger::before {
   transform: rotate(45deg) translate(35px, -35px);
   background-color: #333;
   position: fixed;
  }
  .menu-btn.open .menu-btn__burger::after {
   transform: rotate(-45deg) translate(35px, 35px);
   background-color: #333;
   position: fixed;
  }
  
  
  /* snb */
  .snb_wrap{opacity: 0;;background-color: #fff;transform: translateY(-100px);transition:  0.2s ease 0s;width: 100%;}
  .snb_wrap.on{opacity: 1;transform: translateY(50px);background-color: #fff;position: fixed;z-index: 10;}
    .snb_inner>li{line-height: 50px;border-top: 2px solid #ebebeb;padding-left: 25px;}
    .snb_inner>li:first-of-type{line-height: 50px;border-top:none;padding-left: 25px;}
    .snb_inner>li>a{color:black;font-size: 18px;font-weight: bold;}
  .logo_2{display: none;}
  .snb_wrap li div ul{display: none;border-top: 2px solid #ebebeb;margin: 10px 0px 10px -40px; }
  .snb_wrap li div ul.on{display: block;} 
    .snb_wrap li div ul li{line-height: 40px;}
    .snb_wrap li div ul li a{padding-left: 60px;font-size: 15px;}

    .snb_wrap li div ul li ul{border: none;margin-left: 20px;}
    .snb_wrap li div ul li:hover>ul{display: block;}
  
  #dark{opacity: 0; display: block; background: rgba(89, 89, 89, 0.65);width: 100%;height: 100%;z-index: 200;transform: translateY(1100px);transition:  0.2s ease 0s;}
  #dark.on{opacity: 1; position: fixed; display: block; background: rgba(89, 89, 89, 0.65);width: 100%;height: 100%;transform: translateY(300px);z-index: 20;}



/* container */
#container{width: 100%;}
/* spot */
.spot{background: url(../img/svisual05.jpg) no-repeat 0px 50px ;width: 100%;height: 250px;}
.spotinner{width: 100%;height: 150px;margin: 0 auto;padding-top: 110px;box-sizing: border-box;}
.spotinner>h2{font-size: 30px;color: #fff;text-align: center;}

/* snb */
.snb{width:100%;display: flex;}
.snb>h3{background: url(../img/bg_lnb.png);width: 55px;height: 53px;text-align: center;color: #fff;font-size: 25px;text-indent: -9999px;}
.snb ul{width: 89%;position: absolute;margin-left: 55px;background-color: #fff;}



.snb>ul>li{border: 1px solid #dddddd ;line-height: 50px;position: relative;}
.snb>ul>li:first-of-type{display: block;}
.snb>ul:hover>li{display:block;}
.snb>ul>li{display: none;}
.snb>ul>li.on{background-color: #f4f6f7;}
.snb>ul>li.on>a{color: #048dd4;margin-left: 20px}
.snb>ul>li>ul>li{display: none;}

.snb>ul>li:hover{background-color: #f4f6f7;}
.snb>ul>li:hover>a{color: #048dd4;}
.snb>ul>li:hover>ul>li{background-color: #fff;}

.snb>ul>li a{margin-left: 20px}

.snb>ul>li>ul{display: none;}
.snb>ul>li>ul>li:hover>a{color: #048dd4}

.snb>ul>li:hover>ul{display: block;}


.subbanner{border-bottom: 1px solid #E6E6E6;text-align: center;}
.subbanner>h3{font-size: 28px;margin-bottom: 5px;}
.subbanner>ul{display: flex;justify-content: center;margin-bottom: 20px;}
.subbanner>ul>li{margin-left: 15px;color: #747774;font-weight: bold;}
.subbanner>ul>li:first-of-type{color: #0095da;font-size: 12px;}
.content_list{width: 100%;}
.content{width: 100%;margin-top: 45px;margin-right: 0px;margin-left: 10px;}

.notice{width: 85%; border: 4px solid rgb(246 248 247);margin-top: 43px;margin-bottom: 40px; background: url(../img/icon_customer.png) no-repeat 50% 30px;padding: 20px 20px ;}
.notice>p{margin-top: 10px;font-size: 14px;color: #666;text-align: center;}
.notice>p:first-of-type{color:#048dd4 ;margin-top: 100px}
.notice>p>em{color: black;}


.essential{display: inline-block;position: relative;}
.essential>span{color: red;}


/* form */
form{position: relative; width: 98%;}
form span{color: red;}

fieldset>dl{border-bottom: 1px solid #ddd;display: flex;}
fieldset>dl:first-of-type{border-top: 2px solid black;}
fieldset>dl>dt{background-color: #f4f6f7;width: 100px;display: flex;align-items: center;padding-left: 10px;}

fieldset>dl>dd{padding: 15px;}
#email{width: 180%;height: 20px;border-radius: 5px;}
#title{width: 180%;height: 20px;border-radius: 5px;}
#context{width:130%;height: 185px;border-radius: 5px;}

.terms{text-align: center;font-size: 15px;margin-top: 40px;margin-bottom: 40px;}
#submit{background-color: #002849;border-radius: 10px;width: 94px;height: 38px;color: #fff;margin: 0 auto;display: block;}
.terms>strong{color: #048dd4;}
.terms>span{margin-left: 10px;border-bottom: 1px solid gray;}

/* footer */
/* footer */
#footer{position: relative;left: 0;top: 0;width: 100%;margin: 0 auto;background: #333;margin-top: 50px;}
.foot_inner{width: 100%;margin: 0 auto;background: #333;}
.foot_inner>ul{display: flex;}
.foot_inner>ul>li{margin-left: 10px;}
.foot_inner>ul>li>a{color: #909090;font-size: 13px;line-height: 50px;}


.foot_inner2{position: relative;left: 0;top: 0;width: 100%;background: #272727;padding-left: 10px;}
.foot_inner2>div{width: 100%;margin: 0 auto;display: grid;padding-top: 20px;}
.foot_inner2>div>img{position: relative;}
.foot_inner2>div>address{color: #909090;font-size: 11px;}
.foot_inner2>div>address>ul>li>ul{display: inline-block;line-height: 20px;}
.foot_inner2>div>address>ul>li>ul>li{display: inline-block;}
.foot_inner2>div>address>p{padding: 20px 0 40px 0;}
  


}




@media screen and (min-width: 836px) and (max-width: 1023px){
  

  
  #header{z-index:40;position: fixed;width: 100%;height: 40px;} 

  .header_wrap{z-index: 50; position: absolute;left: 0;top: 0;width: 100%;height: 70px;background: #fff;}
  .header_inner{position: relative;width: 100%;}
  h1.logo{z-index: 5;position: absolute;top: 5px;left: 0px;}
  h1.logo>a{display: block;width:160px;height: 56px;background: url(../img/logo.png)no-repeat 0 0;text-indent: -9999px;overflow: hidden;background-position: 0px -23px;transform: scale(0.8);}

  /* gnb */
  /* forEach 또는 글자만 선택된것들 */
  .gnb{display: none;}
 
  
  /* 햄버거버튼 */
  .menu-btn {
   z-index: 50;
   position: fixed;
   float: right;
   top: 30px;
   right: 20px;
   width: 19px;
   height: 10px;
   display: flex;
   align-items: center;
   cursor: pointer;
   /* border: 5px solid #fff; */
   transition: all 0.2s ease-in-out;
  }
  
  .menu-btn__burger,
  .menu-btn__burger::before,
  .menu-btn__burger::after {
   width: 19px;
   height: 3px;
   border-radius: 5px;
   background-color: #333;
  
  
   transition: all 0.2s ease-in-out;
  }
  .menu-btn__burger::before,
  .menu-btn__burger::after {
   content: "";
   position: absolute;
  }
  .menu-btn__burger::before {
   transform: translateY(-7px);
  }
  .menu-btn__burger::after {
   transform: translateY(7px);
  }
  
  /* ANIMATION */
  .menu-btn.open .menu-btn__burger {
   transform: translateX(-50px);
   background-color: transparent;
   box-shadow: none;
   position: fixed;
  }
  .menu-btn.open .menu-btn__burger::before {
   transform: rotate(45deg) translate(35px, -35px);
   background-color: #333;
   position: fixed;
  }
  .menu-btn.open .menu-btn__burger::after {
   transform: rotate(-45deg) translate(35px, 35px);
   background-color: #333;
   position: fixed;
  }
  
  
  /* snb */
  .snb_wrap{opacity: 0;;background-color: #fff;transform: translateY(-100px);transition:  0.2s ease 0s;width: 100%;}
  .snb_wrap.on{opacity: 1;transform: translateY(70px);position: fixed;z-index: 10;}
    .snb_inner>li{line-height: 50px;border-top: 2px solid #ebebeb;padding-left: 25px;}
    .snb_inner>li:first-of-type{line-height: 50px;border-top:none;padding-left: 25px;}
    .snb_inner>li>a{color:black;font-size: 18px;font-weight: bold;}
  .logo_2{display: none;}
  .snb_wrap li div ul{display: none;border-top: 2px solid #ebebeb;margin: 10px 0px 10px -40px; }
  .snb_wrap li div ul.on{display: block;} 
    .snb_wrap li div ul li{line-height: 40px;}
    .snb_wrap li div ul li a{padding-left: 60px;font-size: 15px;}

    .snb_wrap li div ul li ul{border: none;margin-left: 20px;}
    .snb_wrap li div ul li:hover>ul{display: block;}
  
  #dark{opacity: 0; display: block; background: rgba(89, 89, 89, 0.65);width: 100%;height: 100%;z-index: 200;transform: translateY(1100px);transition:  0.2s ease 0s;}
  #dark.on{opacity: 1; position: fixed; display: block; background: rgba(89, 89, 89, 0.65);width: 100%;height: 100%;transform: translateY(300px);z-index: 20;}

/* container */
#container{width: 100%;}
/* spot */
.spot{background: url(../img/svisual05.jpg) no-repeat 0px 50px ;width: 100%;height: 250px;}
.spotinner{width: 100%;height: 150px;margin: 0 auto;padding-top: 130px;box-sizing: border-box;}
.spotinner>h2{font-size: 30px;color: #fff;text-align: center;}

/* snb */
.snb{width:100%;display: flex;}
.snb>h3{background: url(../img/bg_lnb.png);width: 55px;height: 53px;text-align: center;color: #fff;font-size: 25px;text-indent: -9999px;}
.snb ul{width: 94%;position: absolute;margin-left: 55px;background-color: #fff;}



.snb>ul>li{border: 1px solid #dddddd ;line-height: 50px;position: relative;}
.snb>ul>li:first-of-type{display: block;}
.snb>ul:hover>li{display:block;}
.snb>ul>li{display: none;}
.snb>ul>li.on{background-color: #f4f6f7;}
.snb>ul>li.on>a{color: #048dd4;margin-left: 20px}
.snb>ul>li>ul>li{display: none;}

.snb>ul>li:hover{background-color: #f4f6f7;}
.snb>ul>li:hover>a{color: #048dd4;}
.snb>ul>li:hover>ul>li{background-color: #fff;}

.snb>ul>li a{margin-left: 20px}

.snb>ul>li>ul{display: none;}
.snb>ul>li>ul>li:hover>a{color: #048dd4}

.snb>ul>li:hover>ul{display: block;}


.subbanner{border-bottom: 1px solid #E6E6E6;text-align: center;display: flex;justify-content: space-between;}
.subbanner>h3{font-size: 28px;margin-bottom: 5px;}
.subbanner>ul{display: flex;justify-content: center;margin-bottom: 20px;margin-right: 20px;}
.subbanner>ul>li{margin-left: 15px;color: #747774;font-weight: bold;}
.subbanner>ul>li:first-of-type{color: #0095da;font-size: 12px;}
.content_list{width: 100%;}
.content{width: 100%;margin-top: 45px;margin-right: 0px;margin-left: 10px;}

.notice{width: 92%; border: 4px solid rgb(246 248 247);margin-top: 43px;margin-bottom: 40px; background: url(../img/icon_customer.png) no-repeat 50% 30px;padding: 20px 20px ;}
.notice>p{margin-top: 10px;font-size: 14px;color: #666;text-align: center;}
.notice>p:first-of-type{color:#048dd4 ;margin-top: 100px}
.notice>p>em{color: black;}


.essential{display: inline-block;position: relative;}
.essential>span{color: red;}


/* form */
form{position: relative; width: 98%;}
form span{color: red;}

fieldset>dl{border-bottom: 1px solid #ddd;display: flex;}
fieldset>dl:first-of-type{border-top: 2px solid black;}
fieldset>dl>dt{background-color: #f4f6f7;width: 130px;display: flex;align-items: center;padding-left: 10px;}

fieldset>dl>dd{padding: 15px;}
#email{width: 180%;height: 20px;border-radius: 5px;}
#title{width: 300%;height: 20px;border-radius: 5px;}
#context{width:250%;height: 185px;border-radius: 5px;}

.terms{text-align: center;font-size: 15px;margin-top: 40px;margin-bottom: 40px;}
#submit{background-color: #002849;border-radius: 10px;width: 94px;height: 38px;color: #fff;margin: 0 auto;display: block;}
.terms>strong{color: #048dd4;}
.terms>span{margin-left: 10px;border-bottom: 1px solid gray;}

/* footer */
/* footer */
#footer{position: relative;left: 0;top: 0;width: 100%;margin: 0 auto;background: #333;margin-top: 50px;}
.foot_inner{width: 100%;margin: 0 auto;background: #333;}
.foot_inner>ul{display: flex;}
.foot_inner>ul>li{margin-left: 10px;}
.foot_inner>ul>li>a{color: #909090;font-size: 13px;line-height: 50px;}


.foot_inner2{position: relative;left: 0;top: 0;width: 100%;background: #272727;padding-left: 10px;}
.foot_inner2>div{width: 100%;margin: 0 auto;padding-top: 20px;}
.foot_inner2>div>img{position: relative;}
.foot_inner2>div>address{color: #909090;font-size: 11px;}
.foot_inner2>div>address>ul>li>ul{display: inline-block;line-height: 20px;}
.foot_inner2>div>address>ul>li>ul>li{display: inline-block;}
.foot_inner2>div>address>p{padding: 20px 0 40px 0;}
}

@media screen and (min-width: 1024px) and (max-width: 1437px){

/* layout */


#header{z-index:40;position: fixed;width: 100%;height: 98px;background: #fff;} 

.header_wrap{position: absolute;left: 0;top: 0;width: 100%;height: 98px;background: #fff;}
.header_inner{position: relative;width: 100%;}

#footer{width: 100%;}
.foot_inner{background: #121212;}

/* header */
/* logo */
h1.logo{z-index: 5;position: absolute;left: 39px;top: 23px;}
h1.logo>a{display: block;width:162px;height: 56px;background: url(../img/logo.png)no-repeat 0 0;text-indent: -9999px;overflow: hidden;background-position: 0px -23px;}

/* gnb */
/* forEach 또는 글자만 선택된것들 */
nav.gnb>ul{position: relative;display: flex;flex-direction: row;justify-content: center;height: 98px;margin-left: 300px;margin-right: 200px;}
nav.gnb>ul>li{width: 230px;text-align: center;font-size: 18px;line-height: 90px;transition:all 0.3s linear 0s;}
nav.gnb>ul>li.on{background: rgba(162, 162, 162, 0.25); height: 488px;} 

nav.gnb>ul>li>a{display: block;color: #303030;font-weight: 500;background: #fff;}/* 밑줄 */
nav.gnb>ul>li:hover>a{color: #038BD3;}
nav.gnb>ul>li>div{display: none;transition:all 0.3s linear 0s;}
nav.gnb>ul:hover>li>div{display: block;}



nav.gnb>ul>li>div>ul>li{font-size: 15px;line-height: 35px;}
nav.gnb>ul>li>div>ul>li>a{color: #777777;}
nav.gnb>ul>li>div>ul>li:hover>a{color: #43abff}
nav.gnb>ul>li>div>ul>li>ul>li:hover>a{color: #43abff;}
nav.gnb>ul>li>div>ul>li:hover>ul{display: block;}
nav.gnb>ul>li>div>ul>li>ul{display: none;}

nav.gnb>ul>li>div>ul>li>ul>li{font-size: 14px;line-height: 25px;}
nav.gnb>ul>li>div>ul>li>ul>li>a{color: #929292;}



/* 햄버거버튼 */
.menu-btn {
 z-index: 50;
 position: fixed;
 float: right;
 top: 30px;
 right: 70px;
 width: 30px;
 height: 30px;
 display: flex;
 justify-content: center;
 align-items: center;

 cursor: pointer;
 /* border: 5px solid #fff; */
 transition: all 0.2s ease-in-out;
}

.menu-btn__burger,
.menu-btn__burger::before,
.menu-btn__burger::after {
 width: 30px;
 height: 3px;

 border-radius: 5px;
 background-color: #333;


 transition: all 0.2s ease-in-out;
}
.menu-btn__burger::before,
.menu-btn__burger::after {
 content: "";
 position: absolute;
}
.menu-btn__burger::before {
 transform: translateY(-9px);
}
.menu-btn__burger::after {
 transform: translateY(9px);
}

/* ANIMATION */
.menu-btn.open .menu-btn__burger {
 transform: translateX(-50px);
 background-color: transparent;
 box-shadow: none;
 position: fixed;
}
.menu-btn.open .menu-btn__burger::before {
 transform: rotate(45deg) translate(35px, -35px);
 background-color: #fff;
 position: fixed;
}
.menu-btn.open .menu-btn__burger::after {
 transform: rotate(-45deg) translate(35px, 35px);
 background-color: #fff;
 position: fixed;
}


/* snb */
.snb_wrap{visibility:hidden;z-index: 40; position: fixed;background-color:rgb(0 40 73);
 background-image: url(../img/bg_menu.png) no-repeat  ;height: 0;transition: all 0.5s ease-in-out ;height: 100vh;}
 .snb_wrap.on{visibility:visible; position: fixed;background-color:rgb(0 40 73);
   background-image: url(../img/bg_menu.png) no-repeat  ;height:100%;width: 100vw;}

.snb_inner{display: flex;justify-content: space-between;padding-left: 130px;padding-right: 120px;position: fixed;}
.snb_inner>li{ font-size: 25px;font-weight: 600; border-left: 1px solid rgba(225, 225, 225, 0.3); padding-top: 150px;padding-left: 50px;height: 550px;width: 300px;}
.snb_inner>li:last-of-type{border-right:1px solid rgba(225, 225, 225, 0.3) ;}
.snb_inner>li a{color: #fff;}

.snb_inner>li>div>ul{margin-top: 50px;}
.snb_inner>li>div>ul>li{font-size: 15px;line-height: 35px;font-weight: 300;}
.snb_inner>li>div>ul>li a{color: rgba(255, 255, 255, 0.5);}
.snb_inner>li>div>ul>li:hover>a{color: #fff;}

.snb_inner>li>div>ul>li>ul>li{display: none;}
.snb_inner>li>div>ul>li:hover>ul>li{display: block;}
.snb_inner>li>div>ul>li>ul>li:hover>a{color: #fff;}




/* container */
#container{width: 100%;}
/* spot */
.spot{background: url(../img/svisual05.jpg) no-repeat 0px 90px ;width: 100%;height: 490px;}
.spotinner{width: 350px;height: 150px;margin: 0 auto;padding-top: 250px;box-sizing: border-box;}
.spotinner>h2{font-size: 50px;color: #fff;font-weight: 600;} 

/* snb */
.snb{margin-top: 45px;margin-left: 222px;width: 245px;height: 700px;}
.snb>h3{border: 1px solid #dddddd;background: url(../img/bg_lnb.png);width: 245px;height: 125px;text-align: center;color: #fff;line-height: 120px;font-size: 25px;border-radius: 25px 0 25px 0;}
.snb ul{width: 245px;}

.snb>ul>li{border: 1px solid #dddddd ;margin-top: 10px;line-height: 50px;border-radius: 5px;}
.snb>ul>li.on{background-color: #f4f6f7;}
.snb>ul>li.on>a{color: #048dd4;margin-left: 20px}
.snb>ul>li>ul>li{border-top: 1px solid #dddddd;}

.snb>ul>li:hover{background-color: #f4f6f7;}
.snb>ul>li:hover>a{color: #048dd4;}
.snb>ul>li:hover>ul>li{background-color: #fff;}

.snb>ul>li a{margin-left: 20px}

.snb>ul>li>ul{display: none;}
.snb>ul>li>ul>li:hover>a{color: #048dd4}

.snb>ul>li:hover>ul{display: block;}

.subbanner{border-bottom: 1px solid #E6E6E6;display: flex;justify-content: space-between;}
.subbanner>h3{font-size: 30px;margin-bottom: 10px;}
.subbanner>ul{display: flex;}
.subbanner>ul>li{margin-left: 15px;color: #747774;}
.subbanner>ul>li:first-of-type{color: #0095da;font-size: 12px;}

.content_list{display: flex;justify-content: center;}
.content{width: 1045px;margin-top: 45px;margin-right: 220px;margin-left: 65px;}

.notice{border: 4px solid rgb(246 248 247);margin-top: 43px;margin-bottom: 40px; background: url(../img/icon_customer.png) no-repeat 30px;padding: 20px 0px ;padding-left: 160px;}
.notice>p{margin: 10px;font-size: 17px;color: #666;}
.notice>p:first-of-type{color:#048dd4 ;}
.notice>p>em{color: black;}


.essential{float: right;}
.essential>span{color: red;}


/* form */
form span{color: red;}
fieldset>dl{border-bottom: 1px solid #ddd;display: flex;}
fieldset>dl:first-of-type{border-top: 2px solid black;}
fieldset>dl>dt{background-color: #f4f6f7;width: 180px;display: flex;align-items: center;}
fieldset>dl>dt>label{ margin-left: 30px;}
fieldset>dl>dd{padding: 15px;}
#email{width: 373px;height: 45px;border-radius: 5px;}
#title{width: 823px;height: 45px;border-radius: 5px;}
#context{width: 823px;height: 185px;border-radius: 5px;}

.terms{text-align: center;font-size: 15px;margin-top: 40px;margin-bottom: 40px;}
#submit{background-color: #002849;border-radius: 10px;width: 94px;height: 38px;color: #fff;margin: 0 auto;display: block;}
.terms>strong{color: #048dd4;}
.terms>span{margin-left: 10px;border-bottom: 1px solid gray;}

 /* footer */
 #footer{position: relative;left: 0;top: 0;width: 100%;margin: 0 auto;background: #333;margin-top: 110px;}
 .foot_inner{width: 1400px;margin: 0 auto;background: #333;}
 .foot_inner>ul>li{display: inline-block;}
 .foot_inner>ul>li>a{color: #909090;font-size: 13px;line-height: 50px;}
 
 
 .foot_inner2{position: relative;left: 0;top: 0;width: 100%;background: #272727;}
 .foot_inner2>div{width: 1400px;margin: 0 auto;display: grid;grid-template-columns: 218px 1182px;padding-top: 20px;}
 .foot_inner2>div>img{position: relative;grid-column: 1/2;}
 .foot_inner2>div>address{grid-column: 2/-1;color: #909090;font-size: 13px;}
 .foot_inner2>div>address>ul>li>ul{display: inline-block;line-height: 20px;}
 .foot_inner2>div>address>ul>li>ul>li{display: inline-block;}
 .foot_inner2>div>address>p{padding: 20px 0 40px 0;}
 

}

@media screen and (min-width: 1437px) {


/* layout */

#header{z-index:40;position: fixed;width: 100%;height: 98px;background: #fff;} 

 .header_wrap{position: absolute;left: 0;top: 0;width: 100%;height: 98px;background: #fff;}
 .header_inner{position: relative;width: 100%;}


#footer{width: 100%;}
.foot_inner{background: #121212;}

/* header */
/* logo */
h1.logo{z-index: 5;position: absolute;left: 39px;top: 23px;}
h1.logo>a{display: block;width:162px;height: 56px;background: url(../img/logo.png)no-repeat 0 0;text-indent: -9999px;overflow: hidden;background-position: 0px -23px;}

/* gnb */
/* forEach 또는 글자만 선택된것들 */
nav.gnb>ul{position: relative;display: flex;flex-direction: row;justify-content: center;height: 98px;}
nav.gnb>ul>li{width: 230px;text-align: center;font-size: 18px;line-height: 98px;transition:all 0.3s linear 0s;}
nav.gnb>ul>li.on{background: rgba(162, 162, 162, 0.25); height: 488px;} 

nav.gnb>ul>li>a{display: block;color: #303030;font-weight: 500;background: #fff;}/* 밑줄 */
nav.gnb>ul>li:hover>a{color: #038BD3;}
nav.gnb>ul>li>div{display: none;transition:all 0.3s linear 0s;}
nav.gnb>ul:hover>li>div{display: block;}



nav.gnb>ul>li>div>ul>li{font-size: 15px;line-height: 40px;}
nav.gnb>ul>li>div>ul>li>a{color: #777777;}
nav.gnb>ul>li>div>ul>li:hover>a{color: #43abff}
nav.gnb>ul>li>div>ul>li>ul>li:hover>a{color: #43abff;}
nav.gnb>ul>li>div>ul>li:hover>ul{display: block;}
nav.gnb>ul>li>div>ul>li>ul{display: none;}

nav.gnb>ul>li>div>ul>li>ul>li{font-size: 14px;line-height: 30px;}
nav.gnb>ul>li>div>ul>li>ul>li>a{color: #929292;}



/* 햄버거버튼 */
.menu-btn {
  z-index: 50;
  position: fixed;
  float: right;
  top: 30px;
  right: 70px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  /* border: 5px solid #fff; */
  transition: all 0.2s ease-in-out;
}

.menu-btn__burger,
.menu-btn__burger::before,
.menu-btn__burger::after {
  width: 30px;
  height: 3px;

  border-radius: 5px;
  background-color: #333;


  transition: all 0.2s ease-in-out;
}
.menu-btn__burger::before,
.menu-btn__burger::after {
  content: "";
  position: absolute;
}
.menu-btn__burger::before {
  transform: translateY(-9px);
}
.menu-btn__burger::after {
  transform: translateY(9px);
}

/* ANIMATION */
.menu-btn.open .menu-btn__burger {
  transform: translateX(-50px);
  background-color: transparent;
  box-shadow: none;
  position: fixed;
}
.menu-btn.open .menu-btn__burger::before {
  transform: rotate(45deg) translate(35px, -35px);
  background-color: #fff;
  position: fixed;
}
.menu-btn.open .menu-btn__burger::after {
  transform: rotate(-45deg) translate(35px, 35px);
  background-color: #fff;
  position: fixed;
}


/* snb */
.snb_wrap{visibility:hidden;z-index: 40; position: fixed;background-color:rgb(0 40 73);
  background-image: url(../img/bg_menu.png) no-repeat  ;height: 0;transition: all 0.5s ease-in-out ;height: 100vh;}
  .snb_wrap.on{visibility:visible; position: fixed;background-color:rgb(0 40 73);
    background-image: url(../img/bg_menu.png) no-repeat  ;height:100%;width: 100vw;}

.snb_inner{display: flex;justify-content: space-between;padding-left: 130px;padding-right: 120px;position: fixed;}
.snb_inner>li{ font-size: 25px;font-weight: 600; border-left: 1px solid rgba(225, 225, 225, 0.3); padding-top: 150px;padding-left: 50px;height: 550px;width: 300px;}
.snb_inner>li:last-of-type{border-right:1px solid rgba(225, 225, 225, 0.3) ;}
.snb_inner>li a{color: #fff;}

.snb_inner>li>div>ul{margin-top: 50px;}
.snb_inner>li>div>ul>li{font-size: 15px;line-height: 35px;font-weight: 300;}
.snb_inner>li>div>ul>li a{color: rgba(255, 255, 255, 0.5);}
.snb_inner>li>div>ul>li:hover>a{color: #fff;}

.snb_inner>li>div>ul>li>ul>li{display: none;}
.snb_inner>li>div>ul>li:hover>ul>li{display: block;}
.snb_inner>li>div>ul>li>ul>li:hover>a{color: #fff;}



/* container */
#container{width: 100%;}
/* spot */
.spot{background: url(../img/svisual05.jpg) no-repeat 0px 90px ;width: 100%;height: 490px;}
.spotinner{width: 350px;height: 150px;margin: 0 auto;padding-top: 250px;box-sizing: border-box;}
.spotinner>h2{font-size: 50px;color: #fff;font-weight: 600;} 

/* snb */
.snb{margin-top: 45px;margin-left: 222px;width: 245px;height: 700px;}
.snb>h3{border: 1px solid #dddddd;background: url(../img/bg_lnb.png);width: 245px;height: 125px;text-align: center;color: #fff;line-height: 120px;font-size: 25px;border-radius: 25px 0 25px 0;}
.snb ul{width: 245px;}

.snb>ul>li{border: 1px solid #dddddd ;margin-top: 10px;line-height: 50px;border-radius: 5px;}
.snb>ul>li.on{background-color: #f4f6f7;}
.snb>ul>li.on>a{color: #048dd4;margin-left: 20px}
.snb>ul>li>ul>li{border-top: 1px solid #dddddd;}

.snb>ul>li:hover{background-color: #f4f6f7;}
.snb>ul>li:hover>a{color: #048dd4;}
.snb>ul>li:hover>ul>li{background-color: #fff;}

.snb>ul>li a{margin-left: 20px}

.snb>ul>li>ul{display: none;}
.snb>ul>li>ul>li:hover>a{color: #048dd4}

.snb>ul>li:hover>ul{display: block;}

.subbanner{border-bottom: 1px solid #E6E6E6;display: flex;justify-content: space-between;}
.subbanner>h3{font-size: 30px;margin-bottom: 10px;}
.subbanner>ul{display: flex;}
.subbanner>ul>li{margin-left: 15px;color: #747774;}
.subbanner>ul>li:first-of-type{color: #0095da;font-size: 12px;}

.content_list{display: flex;justify-content: center;}
.content{width: 1045px;margin-top: 45px;margin-right: 220px;margin-left: 65px;}

.notice{border: 4px solid rgb(246 248 247);margin-top: 43px;margin-bottom: 40px; background: url(../img/icon_customer.png) no-repeat 30px;padding: 20px 0px ;padding-left: 160px;}
.notice>p{margin: 10px;font-size: 17px;color: #666;}
.notice>p:first-of-type{color:#048dd4 ;}
.notice>p>em{color: black;}


.essential{float: right;}
.essential>span{color: red;}


/* form */
form span{color: red;}
fieldset>dl{border-bottom: 1px solid #ddd;display: flex;}
fieldset>dl:first-of-type{border-top: 2px solid black;}
fieldset>dl>dt{background-color: #f4f6f7;width: 180px;display: flex;align-items: center;}
fieldset>dl>dt>label{ margin-left: 30px;}
fieldset>dl>dd{padding: 15px;}
#email{width: 373px;height: 45px;border-radius: 5px;}
#title{width: 823px;height: 45px;border-radius: 5px;}
#context{width: 823px;height: 185px;border-radius: 5px;}

.terms{text-align: center;font-size: 15px;margin-top: 40px;margin-bottom: 40px;}
#submit{background-color: #002849;border-radius: 10px;width: 94px;height: 38px;color: #fff;margin: 0 auto;display: block;}
.terms>strong{color: #048dd4;}
.terms>span{margin-left: 10px;border-bottom: 1px solid gray;}

 /* footer */
 #footer{position: relative;left: 0;top: 0;width: 100%;margin: 0 auto;background: #333;margin-top: 110px;}
 .foot_inner{width: 1400px;margin: 0 auto;background: #333;}
 .foot_inner>ul>li{display: inline-block;}
 .foot_inner>ul>li>a{color: #909090;font-size: 13px;line-height: 50px;}
 
 
 .foot_inner2{position: relative;left: 0;top: 0;width: 100%;background: #272727;}
 .foot_inner2>div{width: 1400px;margin: 0 auto;display: grid;grid-template-columns: 218px 1182px;padding-top: 20px;}
 .foot_inner2>div>img{position: relative;grid-column: 1/2;}
 .foot_inner2>div>address{grid-column: 2/-1;color: #909090;font-size: 13px;}
 .foot_inner2>div>address>ul>li>ul{display: inline-block;line-height: 20px;}
 .foot_inner2>div>address>ul>li>ul>li{display: inline-block;}
 .foot_inner2>div>address>p{padding: 20px 0 40px 0;}
 
}